
debug/game.bsc
debug/game.pdb
debug/gamex86.dll
debug/gamex86.exp
debug/gamex86.lib
game/debug/g_ai.obj
game/debug/g_ai.sbr
game/debug/g_chase.obj
game/debug/g_chase.sbr
game/debug/g_cmds.obj
game/debug/g_cmds.sbr
game/debug/g_combat.obj
game/debug/g_combat.sbr
game/debug/g_func.obj
game/debug/g_func.sbr
game/debug/g_items.obj
game/debug/g_items.sbr
game/debug/g_main.obj
game/debug/g_main.sbr
game/debug/g_misc.obj
game/debug/g_misc.sbr
game/debug/g_monster.obj
game/debug/g_monster.sbr
game/debug/g_phys.obj
game/debug/g_phys.sbr
game/debug/g_save.obj
game/debug/g_save.sbr
game/debug/g_spawn.obj
game/debug/g_spawn.sbr
game/debug/g_svcmds.obj
game/debug/g_svcmds.sbr
game/debug/g_target.obj
game/debug/g_target.sbr
game/debug/g_trigger.obj
game/debug/g_trigger.sbr
game/debug/g_turret.obj
game/debug/g_turret.sbr
game/debug/g_utils.obj
game/debug/g_utils.sbr
game/debug/g_weapon.obj
game/debug/g_weapon.sbr
game/debug/game.dll.recipe
game/debug/game.log
game/debug/game.tlog/bscmake.command.1.tlog
game/debug/game.tlog/bscmake.read.1.tlog
game/debug/game.tlog/bscmake.write.1.tlog
game/debug/game.tlog/CL.command.1.tlog
game/debug/game.tlog/CL.read.1.tlog
game/debug/game.tlog/CL.write.1.tlog
game/debug/game.tlog/game.lastbuildstate
game/debug/game.tlog/link.command.1.tlog
game/debug/game.tlog/link.read.1.tlog
game/debug/game.tlog/link.write.1.tlog
game/debug/game.tlog/link.write.2u.tlog
game/debug/m_actor.obj
game/debug/m_actor.sbr
game/debug/m_berserk.obj
game/debug/m_berserk.sbr
game/debug/m_boss2.obj
game/debug/m_boss2.sbr
game/debug/m_boss3.obj
game/debug/m_boss3.sbr
game/debug/m_boss31.obj
game/debug/m_boss31.sbr
game/debug/m_boss32.obj
game/debug/m_boss32.sbr
game/debug/m_brain.obj
game/debug/m_brain.sbr
game/debug/m_chick.obj
game/debug/m_chick.sbr
game/debug/m_flash.obj
game/debug/m_flash.sbr
game/debug/m_flipper.obj
game/debug/m_flipper.sbr
game/debug/m_float.obj
game/debug/m_float.sbr
game/debug/m_flyer.obj
game/debug/m_flyer.sbr
game/debug/m_gladiator.obj
game/debug/m_gladiator.sbr
game/debug/m_gunner.obj
game/debug/m_gunner.sbr
game/debug/m_hover.obj
game/debug/m_hover.sbr
game/debug/m_infantry.obj
game/debug/m_infantry.sbr
game/debug/m_insane.obj
game/debug/m_insane.sbr
game/debug/m_medic.obj
game/debug/m_medic.sbr
game/debug/m_move.obj
game/debug/m_move.sbr
game/debug/m_mutant.obj
game/debug/m_mutant.sbr
game/debug/m_parasite.obj
game/debug/m_parasite.sbr
game/debug/m_soldier.obj
game/debug/m_soldier.sbr
game/debug/m_supertank.obj
game/debug/m_supertank.sbr
game/debug/m_tank.obj
game/debug/m_tank.sbr
game/debug/p_client.obj
game/debug/p_client.sbr
game/debug/p_hud.obj
game/debug/p_hud.sbr
game/debug/p_trail.obj
game/debug/p_trail.sbr
game/debug/p_view.obj
game/debug/p_view.sbr
game/debug/p_weapon.obj
game/debug/p_weapon.sbr
game/debug/q_shared.obj
game/debug/q_shared.sbr
game/debug/vc143.idb
game/debug/vc143.pdb
game/release/q_shared.obj
game/release/p_weapon.obj
game/release/p_view.obj
game/release/p_trail.obj
game/release/p_hud.obj
game/release/p_client.obj
game/release/m_tank.obj
game/release/m_supertank.obj
game/release/m_soldier.obj
game/release/m_parasite.obj
game/release/m_mutant.obj
game/release/m_move.obj
game/release/m_medic.obj
game/release/m_insane.obj
game/release/m_infantry.obj
game/release/m_hover.obj
game/release/m_gunner.obj
game/release/m_gladiator.obj
game/release/m_flyer.obj
game/release/m_float.obj
game/release/m_flipper.obj
game/release/m_flash.obj
game/release/m_chick.obj
game/release/m_brain.obj
game/release/m_boss32.obj
game/release/m_boss31.obj
game/release/m_boss3.obj
game/release/m_boss2.obj
game/release/m_berserk.obj
game/release/m_actor.obj
game/release/gamex86.dll.recipe
game/release/game.vcxproj.FileListAbsolute.txt
game/release/game.tlog/link.write.2u.tlog
game/release/game.tlog/link.write.1.tlog
game/release/game.tlog/link.read.1.tlog
game/release/game.tlog/link.command.1.tlog
game/release/game.tlog/game.lastbuildstate
game/release/game.tlog/CL.write.1.tlog
game/release/game.tlog/CL.read.1.tlog
game/release/game.tlog/CL.command.1.tlog
game/release/game.log
game/release/g_weapon.obj
game/release/g_utils.obj
game/release/g_turret.obj
game/release/g_trigger.obj
game/release/g_target.obj
game/release/g_svcmds.obj
game/release/g_spawn.obj
game/release/g_save.obj
game/release/g_phys.obj
game/release/g_monster.obj
game/release/g_misc.obj
game/release/g_main.obj
game/release/g_items.obj
game/release/g_func.obj
game/release/g_combat.obj
game/release/g_cmds.obj
game/release/g_chase.obj
game/release/g_ai.obj
ctf/debug/ctf.log
ctf/debug/ctf.tlog/CL.command.1.tlog
ctf/debug/ctf.tlog/ctf.lastbuildstate
ctf/debug/ctf.tlog/unsuccessfulbuild
release/cd_win.obj
release/cl_cin.obj
release/cl_ents.obj
release/cl_fx.obj
release/cl_input.obj
release/cl_inv.obj
release/cl_main.obj
release/cl_newfx.obj
release/cl_parse.obj
release/cl_pred.obj
release/cl_scrn.obj
release/cl_tent.obj
release/cl_view.obj
release/cmd.obj
release/cmodel.obj
release/common.obj
release/conproc.obj
release/console.obj
release/crc.obj
release/cvar.obj
release/files.obj
release/in_win.obj
release/keys.obj
release/m_flash.obj
release/md4.obj
release/menu.obj
release/net_chan.obj
release/net_wins.obj
release/pmove.obj
release/q2.res
release/q_shared.obj
release/q_shwin.obj
release/qmenu.obj
release/quake2.exe.recipe
release/quake2.log
release/quake2.tlog/CL.command.1.tlog
release/quake2.tlog/CL.read.1.tlog
release/quake2.tlog/CL.write.1.tlog
release/quake2.tlog/link.command.1.tlog
release/quake2.tlog/link.read.1.tlog
release/quake2.tlog/link.write.1.tlog
release/quake2.tlog/quake2.lastbuildstate
release/quake2.tlog/rc.command.1.tlog
release/quake2.tlog/rc.read.1.tlog
release/quake2.tlog/rc.write.1.tlog
release/quake2.vcxproj.FileListAbsolute.txt
release/snd_dma.obj
release/snd_mem.obj
release/snd_mix.obj
release/snd_win.obj
release/sv_ccmds.obj
release/sv_ents.obj
release/sv_game.obj
release/sv_init.obj
release/sv_main.obj
release/sv_send.obj
release/sv_user.obj
release/sv_world.obj
release/sys_win.obj
release/vid_dll.obj
release/vid_menu.obj
release/x86.obj

ctf/release/ctf.dll.recipe
ctf/release/ctf.log
ctf/release/ctf.pdb
ctf/release/ctf.tlog/CL.command.1.tlog
ctf/release/ctf.tlog/CL.read.1.tlog
ctf/release/ctf.tlog/CL.write.1.tlog
ctf/release/ctf.tlog/ctf.lastbuildstate
ctf/release/ctf.tlog/link.command.1.tlog
ctf/release/ctf.tlog/link.read.1.tlog
ctf/release/ctf.tlog/link.write.1.tlog
ctf/release/ctf.tlog/link.write.2u.tlog
ctf/release/g_ai.obj
ctf/release/g_chase.obj
ctf/release/g_cmds.obj
ctf/release/g_combat.obj
ctf/release/g_ctf.obj
ctf/release/g_func.obj
ctf/release/g_items.obj
ctf/release/g_main.obj
ctf/release/g_misc.obj
ctf/release/g_monster.obj
ctf/release/g_phys.obj
ctf/release/g_save.obj
ctf/release/g_spawn.obj
ctf/release/g_svcmds.obj
ctf/release/g_target.obj
ctf/release/g_trigger.obj
ctf/release/g_utils.obj
ctf/release/g_weapon.obj
ctf/release/gamex86.dll
ctf/release/gamex86.exp
ctf/release/gamex86.lib
ctf/release/m_move.obj
ctf/release/p_client.obj
ctf/release/p_hud.obj
ctf/release/p_menu.obj
ctf/release/p_trail.obj
ctf/release/p_view.obj
ctf/release/p_weapon.obj
ctf/release/q_shared.obj
ctf/release/vc143.pdb
ref_gl/ref_gl.vcxproj.user
ref_gl/release/gl_draw.obj
ref_gl/release/gl_image.obj
ref_gl/release/gl_light.obj
ref_gl/release/gl_mesh.obj
ref_gl/release/gl_model.obj
ref_gl/release/gl_rmain.obj
ref_gl/release/gl_rmisc.obj
ref_gl/release/gl_rsurf.obj
ref_gl/release/gl_warp.obj
ref_gl/release/glw_imp.obj
ref_gl/release/q_shared.obj
ref_gl/release/q_shwin.obj
ref_gl/release/qgl_win.obj
ref_gl/release/ref_gl.dll.recipe
ref_gl/release/ref_gl.log
ref_gl/release/ref_gl.tlog/CL.command.1.tlog
ref_gl/release/ref_gl.tlog/CL.read.1.tlog
ref_gl/release/ref_gl.tlog/CL.write.1.tlog
ref_gl/release/ref_gl.tlog/link.command.1.tlog
ref_gl/release/ref_gl.tlog/link.read.1.tlog
ref_gl/release/ref_gl.tlog/link.write.1.tlog
ref_gl/release/ref_gl.tlog/link.write.2u.tlog
ref_gl/release/ref_gl.tlog/ref_gl.lastbuildstate
ref_gl/release/vc143.pdb
ref_soft/release/q_shared.obj
ref_soft/release/q_shwin.obj
ref_soft/release/r_aclip.obj
ref_soft/release/r_alias.obj
ref_soft/release/r_bsp.obj
ref_soft/release/r_draw.obj
ref_soft/release/r_edge.obj
ref_soft/release/r_image.obj
ref_soft/release/r_light.obj
ref_soft/release/r_main.obj
ref_soft/release/r_misc.obj
ref_soft/release/r_model.obj
ref_soft/release/r_part.obj
ref_soft/release/r_poly.obj
ref_soft/release/r_polyse.obj
ref_soft/release/r_rast.obj
ref_soft/release/r_scan.obj
ref_soft/release/r_sprite.obj
ref_soft/release/r_surf.obj
ref_soft/release/ref_soft.log
ref_soft/release/ref_soft.tlog/CL.command.1.tlog
ref_soft/release/ref_soft.tlog/CL.read.1.tlog
ref_soft/release/ref_soft.tlog/CL.write.1.tlog
ref_soft/release/ref_soft.tlog/CustomBuild.command.1.tlog
ref_soft/release/ref_soft.tlog/CustomBuild.read.1.tlog
ref_soft/release/ref_soft.tlog/CustomBuild.write.1.tlog
ref_soft/release/ref_soft.tlog/link.command.1.tlog
ref_soft/release/ref_soft.tlog/link.read.1.tlog
ref_soft/release/ref_soft.tlog/link.write.1.tlog
ref_soft/release/ref_soft.tlog/ref_soft.lastbuildstate
ref_soft/release/ref_soft.tlog/unsuccessfulbuild
ref_soft/release/rw_ddraw.obj
ref_soft/release/rw_dib.obj
ref_soft/release/rw_imp.obj
ref_soft/release/vc143.pdb
release/quake2.tlog/link-cvtres.read.1.tlog
release/quake2.tlog/link-cvtres.write.1.tlog
release/quake2.tlog/link-rc.read.1.tlog
release/quake2.tlog/link-rc.write.1.tlog
release/quake2.tlog/unsuccessfulbuild
release/r_aclipa.obj
release/r_draw16.obj
release/r_drawa.obj
release/r_edgea.obj
release/r_polysa.obj
release/r_scana.obj
release/r_spr8.obj
release/r_surf8.obj
release/r_varsa.obj
release/ref_gl.dll
release/ref_gl.exp
release/ref_gl.lib
